<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<center><h2>TGIW</h2></center>
		
		<h3>YOU ARE LOOKING</h3>
			<ul>
			
	  <li><a href="/traveller" class="btn btn-default">For a Tour(Traveller)</a></li>
	  <li><a href="/pgRegister" class="btn btn-default">To Offer a Tour(Tour planner)</a></li>
	  <li><a href="/pgRegister" class="btn btn-default">To be Freelance Guide</a></li>
	</ul>
		
	</div>

</body>
</html>
