<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js
	"></script>
</head>
<body>

	<div class="container">
		<center>
			<h2>TGIW</h2>
		</center>

		<h2>Please Enter your Travel Details</h2>
		<form method="POST" enctype="multipart/form-data"
			action="/getTravelDetails">
			<!-- <div class="form-group">
				<label for="trvlName">Traveller Name:</label> <input type="text"
					class="form-control" name = "trvlname" id="trvlname" placeholder="Traveller Name">
			</div> -->
			<div class="form-group">
				<label for="fromPlace">From Place:</label> <input type="text"
					class="form-control" name="fromPlace" id="fromplace"
					placeholder="From Place">
			</div>

			<div class="form-group">
				<label for="toPlace">To Place :</label> <input type="text"
					class="form-control" name="toPlace" id="toplace"
					placeholder="To Place">
			</div>

			<div class="form-group">
				<label for="fromDate">From Date:</label> <input type="date"
					class="form-control" name="fromDate" id="fromdate"
					placeholder="From Date">
			</div>

			<div class="form-group">
				<label for="toDate">To Date:</label> <input type="date"
					class="form-control" name="toDate" id="todate"
					placeholder="To Date">
			</div>
			<input id="goid" type="button" class="btn btn-default" value="GO"></input><br>
			<table id="plantable" class="display" cellspacing="0" width="50%">
				<thead>
					<tr>
					    <th>Id</th>
						<th>Planner</th>
						<th>Location</th>
						<th>Rating</th>
					</tr>
				</thead>
				
				
				</tbody>
			</table>

			<!-- <table id="plantable1" class="display" cellspacing="0" width="50%" style="float:right">
				<thead>
					<tr>
						<th>Guide</th>
						<th>Available_Date</th>
						<th>Amount</th>
					</tr>
				</thead>
			</table> -->

			<!-- <button type="submit" class="btn btn-default">TRAVEL</button> -->
		</form>

	</div>
	<script type="text/javascript">
		$("#goid").click(function() {
			
			$.ajax({
				url:"/getPlanner",
				success:function(data){
					$.each( data, function( key, value ) {
						$("#plantable").append("<tr>");
						$("#plantable").append("<td>"+value.id+"</td>");
						$("#plantable").append("<td>"+value.name+"</td>");
						$("#plantable").append("<td>"+value.location+"</td>");
						$("#plantable").append("<td>"+value.rating+"</td>");
						$("#plantable").append("</tr>"); 
						  //alert( JSON.stringify(key) + ": " + JSON.stringify(value) );
					});

				}
			});
			/* alert("working");

			$('#plantable').dataTable({
				"processing": true,
		        "serverSide": true,
				"ajax" : {
					"url" : "/getPlanner",
					"type": "GET",
				},
				"columns": [
					{ "data": "id" },
		            { "data": "name" },
		            { "data": "category" },
		            { "data": "location" },
		            { "data": "rating" }
		        ]
			}); */
		});
	</script>

</body>
</html>
